{% extends 'layouts/main.html' %}
{% block title %}Fyyur{% endblock %}
{% block content %}
<div class="row">
	<div class="col-sm-6">
		<h1>Fyyur 🔥</h1>
		<p class="lead">Where musical artists meet musical venues.</p>
		<h3>
			<a href="/venues"><button class="btn btn-primary btn-lg">Find a venue</button></a>
			<a href="/venues/create"><button class="btn btn-default btn-lg">Post a venue</button></a>
		</h3>
		<h3>
			<a href="/artists"><button class="btn btn-primary btn-lg">Find an artist</button></a>
			<a href="/artists/create"><button class="btn btn-default btn-lg">Post an artist</button></a>
		</h3>
		<p class="lead">Publicize about your show for free.</p>
		<h3>
			<a href="/shows/create"><button class="btn btn-default btn-lg">Post a show</button></a>
		</h3>
	</div>
	<div class="col-sm-6 hidden-sm hidden-xs">
		<img id="front-splash" src="{{ url_for('static',filename='img/front-splash.jpg') }}" alt="Front Photo of Musical Band" />
	</div>
</div>

<div>
	<h1> Latest Venues </h1>
	{% for venue in latest_venues %}
		<h3 style="color:rgb(255, 139, 56)"> {{ venue.name }} </h4>
		
		<h6 style="padding-left:20px;"> {{ venue.city }}, {{venue.state}}</h6>
	{% endfor %}
</div>

<div>
	<h1> Latest Artists </h1>
	{% for artist in latest_artist %}
		<a href="/artists/{{artist.id}}"><h4> {{ artist.name }} </h4></a>
	{% endfor %}
</div>

{% endblock %}